html, body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
body {
    background: #111111 url('/static/images/2014_teaser.png') center center no-repeat;
    font-family: "Helvetica Neue", Helvetica, Liberation Sans, Arial, sans-serif; }
a {
    color: #f473b2;
    text-decoration: none; }

.more-info {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 6px;

    background: #111;
    color: #666;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}
